@model List<RespromedicalMVC.Models.Order>
@{
    ViewBag.Title = "Profile";
}

<div class="jumbotron" style="background-color: #ecf0f1">
    <center>
        <h1>A Warm Welcome!</h1>
        <p class="lead">Thank you for trusting Respro Medical. Here is your profile.</p>
    </center>
</div>


<div class="container leftrightBasicMargins">
    <div class="alert alert-info ">
        <p class="lead text-center"> Here are your Orders..</p>
    </div>
    <div class="table-responsive col-lg-10">
        <table class="table table-condensed table-hover table-bordered table-striped">
            <tr style="font-weight:bold;">
                <td>Order ID</td>
                <td>Product ID</td>
                <td>User ID</td>
                <td>Date</td>
            </tr>

            @foreach (var v in Model) {

                <tr>
                    <td>@v.order_id</td>
                    <td>@v.product_id</td>
                    <td>@v.user_id</td>
                    <td>@v.date</td>
                </tr>
            }

        </table>
    </div>

</div>