@{
    ViewBag.Title = "AboutUs";
}

<div class="jumbotron" style="background-color: #40d47e; color: white">
    <center>
        <h1>Respro Medical</h1>
        <p class="lead">We feel pride  to introduce us as  an active member  of  Health Care Sector since 2010. We are the representative for the supply and customer support  of a large range of Electro Medical Equipments, Spare parts and  Accessories especially  for Intensive, Respiratory Care, Sleep Diagnostics and Treatment.</p>
    </center>
</div>

<div class="container leftrightBasicMargins">
    <div class="row">
        <div class="col-sm-8">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="panel-body" style="background-color:#f0f0f0">
                    <h5>
                        Our business network has an excellent reputation and performing in various destinations throughout Pakistan. We have our offices in Four Major Cities with our Head Office in Lahore and Branch Offices in Karachi, Islamabad & Peshawar and large sub-distributors network covering all Government, Semi Government & Private Institutions, Hospitals and Clinics nationwide.
                        <br /><br />
                        Our Workshops are equipped with all the required Testing Tools and Instruments to provide satisfactory after-sales-services to our valued customers, backed by qualified & well experienced service engineers.
                    </h5>

                </div>
            </div>





            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">PRODUCT RANGE</h3>
                </div>
                <div class="panel-body" style="background-color:#f0f0f0; margin-left:10px; font-size:larger;">
                    <p>We are representing more than 20 leading foreign manufactures of medical equipment. Our major product ranges are as follows:</p>
                    <ul>
                        <li>Infant CPAP / Flow Generator Machine</li>
                        <li>Sleep Diagnostic Products – with PSG and EEG capabilities</li>
                        <li>CPAP &amp; Auto Titrating CPAP technology with data storage facility</li>
                        <li>BiPAP with Various modes and models.</li>
                        <li>Hyper/ Hypothermia Systems – Hypothermia Unit for Burn/ICU and OT</li>
                        <li>Ultrasonic Nebulizer – Heavy Duty mounted on trolley for busy clinics &amp; hospitals</li>
                        <li>Pulmonary Function Test Machine – Spirometer handheld &amp; desktop</li>
                        <li>Oxygen Concentrator – portable &amp; battery operated with 5 LPM to 10 LPM</li>
                        <li>Transcutaneous CO2 Monitor with Pulse Oximeter</li>
                        <li>Transcutaneous Blood Gas Monitoring</li>
                        <li>Fetal &amp; Maternal Monitor</li>
                        <li>CTG Machine – cardio topography machine, twin fetus monitoring</li>
                        <li>Colposcope – pc based</li>
                        <li>Laparoscope’s – general surgery &amp; gynecology</li>
                        <li>ENT Treatment Unit – options for ENT Treatment/Examination Chair, Cautry etc</li>
                        <li>Fibre Optic Nasopharyngoscope – other related ENT product</li>
                        <li>Mortuary Refrigerator – 2, 4 &amp; 6 bodies</li>
                        <li>Treadmill Machine – with manual &amp; programmable control</li>
                        <li>Anatomy Model Teaching Aids</li>
                        <li>Laboratory Item Lots of Product of Laboratory</li>
                    </ul>
                    <ul>
                        <li>ECG Machines – single, dual, three &amp; six channels with analyzer/interpretation</li>
                        <li>Cardiac Monitors – ECG, NIBP, SpO2, Resp., Temp, Cardiac Output, Capnograph</li>
                        <li>Central Monitoring System – PC based for especially for ICU &amp; CCU environments</li>
                        <li>Pulse Oximeters – spot purpose, monitoring &amp; over night study</li>
                        <li>Blood Pressure monitors – conventional NIBP &amp; Cuff free with arterial waveform</li>
                        <li>ECG Holter Monitoring System – PC based with 3 &amp; 12 channels recorders</li>
                        <li>Ambulatory BP Monitoring System – PC based cost effective</li>
                        <li>Stress Test ECG System – PC based with hard wire and wireless options</li>
                        <li>Automatic External Defibrillator – for home/personal use</li>
                        <li>External Pacemaker – single, dual chamber with analyzer</li>
                        <li>ICU Ventilators – for Adult, Pediatric &amp; Infants</li>
                    </ul>
                    <ul>
                        <li>Infusion Pump &amp; Syringe pump – complete range of syringe pumps</li>
                        <li>Suction Machines – heavy duty with special noise less technology/ 5 years warranty</li>
                        <li>Anesthesia Machine – with &amp; without Anesthesia ventilators</li>
                        <li>Operation Theatre light – single, double &amp; triple bulb</li>
                        <li>Operation Theatre Table – with different options</li>
                        <li>OT-Drills, ENT/Neuro/Spinal/Orthopedic Drills</li>
                        <li>Plaster Cutters</li>
                        <li>Diathermy Machine – mono polar and bipolar</li>
                        <li>High definition EEG system.</li>
                    </ul>


                </div>
            </div>




            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Principles</h3>
                </div>
                <div class="panel-success" style="background-color:#f0f0f0; margin-left:10px; font-size:larger;">
                    <p>We represent the following world renowned trustable Manufacturers of Medical Equipments and provide sales, spare parts and after sales repair faculties throughout Pakistan at reasonable &amp; competitive prices:</p>
                    <table>
                        <tr>
                            <td width="596">
                                <ul>
                                    <li>Philips Respironics,USA</li>
                                    <li>AirSep,USA</li>
                                    <li>Fukuda M. E,Japan.</li>
                                    <li>Medical International Research – MIR,Italy</li>
                                    <li>Fukugawa Corporation,Japan</li>
                                    <li>Koushin Industries, Japan</li>
                                    <li>BMC, China</li>
                                    <li>Shiller, Switzerland</li>
                                    <li>BIONET, Korea</li>
                                    <li>Bistas, Korea</li>
                                    <li>Besmet, Taiwan</li>
                                    <li>Oeron, China</li>
                                </ul>
                            </td>
                        </tr>
                    </table>


                </div>
            </div>

        </div>
        <div class="col-sm-4">
          
            <div class="container">
                <img src="~/Images/aboutus2.jpg" />
            </div>
            <div class="container">
                <img src="~/Images/about.jpg" />
            </div>
        </div>
    </div>

    <hr>
</div>



