@{
    ViewBag.Title = "Services";
}


<div class="jumbotron" style="background-color:rgba(226, 58, 58, 0.81); color:white">
    <center>
        <h1>A Warm Welcome!</h1>
        <p class="lead">We Provide the following services under here.</p>

    </center>
</div>


<div class="container leftrightBasicMargins">
    <div class="container marketing">
        <div class="row">
            <div class="col-lg-4">
                <img class="img-circle" src="~/Images/supplies.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Sale Medical Equipments</h2>
                <p>
                    Our goal at Respro Medical is to make your restocking job and shopping experience easier by offering you a quality selection of medical supplies. Our shopping cart provides a user friendly and secured checkout system.
                </p>
                <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <img class="img-circle" src="~/Images/home-sleep-apnea-testing.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Sleep Study</h2>
                <p>Our customer service representatives are ready to help you with questions you might have. We are interested in your comments and needs. Please let us know how we can help you or what you think we can do to better improve our site, selection of medical related products or customer service.</p>
                <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <img class="img-circle" src="~/Images/repairing.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Repairing Medical Equipments</h2>
                <p>We take our customers concerns regarding their privacy and security very seriously. Please note that we do NOT sell or share any client data with other companies or institutions. Unless when processing the actual order or when required by law. You can also click on the Norton security seal to check our secured status.</p>
                <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->

        </div>


    </div>

</div>
<hr>

