@{
    ViewBag.Title = "Services";
}


<div class="jumbotron" style="background-color:rgba(226, 58, 58, 0.81); color:white">
    <center>
        <h1>A Warm Welcome!</h1>
        <p class="lead">We Provide the following services under here.</p>

    </center>
</div>


<div class="container leftrightBasicMargins">
    <div class="container marketing">
        <div class="row">
            <div class="col-lg-4">
                <img class="img-circle" src="~/Images/supplies.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Sale Medical Equipments</h2>
                <p>
                    Our goal at Respro Medical is to make your restocking job and shopping experience easier by offering you a quality selection of medical supplies. Our shopping cart provides a user friendly and secured checkout system.
                </p>
                <p><a class="btn btn-primary" href="" role="button">Get Products &raquo;</a></p>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <img class="img-circle" src="~/Images/home-sleep-apnea-testing.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Sleep Apnea Test/Study</h2>
                <p>Are you snoring? Trouble while sleeping? You may be suffering from OSA. <strong>Obstructive Sleep Apnea</strong> (OSA) is one of the common sleep disorders. OSA afllicts 4-5% of the population worldwide. <br /> <strong>Book your sleep test from .</strong></p>
                <p><a class="btn btn-primary" href="/home/contactus" role="button">Here &raquo;</a></p>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <img class="img-circle" src="~/Images/repairing.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Repairing Medical Equipments</h2>
                <p>Repair all kind of medical equipments especially in sleep therapy devices and equipments </p>
                <p><a class="btn btn-primary" href="/home/contactus" role="button">Place Repairing Order &raquo;</a></p>
            </div><!-- /.col-lg-4 -->

        </div>


    </div>

</div>
<hr>

